/*
tabs exist in horizontal setup, they are padded
tab active is blue, the rest are grey
there is a line under the tabs, except active tab
tabs are bulleted
tabs hover and color changes for inactive tabs
cute tab pictures
border is full length of page
break point- removes text from tab and moves everything in list style.
active tab has no bottom border/thickened top line,
font is all wrong
tabs are centered, menu items are pulled sides wider
title and text are lined up under the image
3up side by side layout
skitch? tool for planning and outlines
Boxes for:
	Giant Wrapper box around everything (body tag? div.container? div.tabs#tabs?)
			as it gets smaller this is where the breaking point is
	Tab box (#tabs > nav? or #tabs > nav > ul?)
	Pannel box (div.content)
			three boxes inside with (3 columns) (section[id^="section-"])
				one column - each are identical set of image, heading, text (div.mediabox)
					space inbetween column does not change, must be it's own box
						image is the full width of column, at the top (<img>)
								image is set to column size (shrinks- relative to size of wrapper), text does not shrink
									(relative to view port) Headings <h3> and images are placeholders
									 text is left aligned <p>
*/
/*	border-top: 2px solid lightgrey;*/

body {
	color: cornflowerblue;
	font-family: Arial, sans-serif;
}

.tabs nav ul li {
  display: inline-block;
	border: 2px solid lightgrey;
	font-size: 30px;
	/*line height*/
	padding: 10px 10px 10px 10px;
}


/*.mediabox img {
	width: 100%;
}*/
.content section[id^="section-"] {
 display: none;
 padding-left: 1em;
 padding-right: 1em;
 padding-top: 70px;
}
.content section[id^="section-"].content-current {
 display: block;
}
.content section[id^="section-"]::after {
 content: " ";
 display: table;
 clear: both;
}


.tabs nav {
	border-bottom: 2px solid lightgrey;
	margin-bottom: none;
	padding-bottom: none;
}

nav {
	text-align: center
}

a {
	color: lightgrey;
	text-decoration: none;
}
.tab-current {
	color: magenta;
	border-bottom: none;
	font-size: 30px;
}

.mediabox {
	width: 33%;
	float: left;
	padding-right: 1em;
	padding-left: 1em;
	box-sizing: border-box;
}


.mediabox img {
	width: 100%;
}

#tabs li {
	display
}

#tabs li .tab-current {
	diplay: block
}
